@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #C4B5FD; /* Fondo violeta vibrante */
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 24px 24px;
}
